@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Primary */
  --Dark-Blue: hsl(233, 26%, 24%);
  --Lime-Green: hsl(136, 65%, 51%);
  --Bright-Cyan: hsl(192, 70%, 51%);

  /* Neutral */
  --Grayish-Blue: hsl(233, 8%, 62%);
  --Light-Grayish-Blue: hsl(220, 16%, 96%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
  /* Gradients */
  --Blue-to-Green: linear-gradient(
    to left,
    var(--Lime-Green),
    var(--Bright-Cyan)
  );
  --Green-to-Blue: linear-gradient(
    to left,
    var(--Bright-Cyan),
    var(--Lime-Green)
  );
}

body {
  font-family: "Public Sans", sans-serif;
  background-color: var(--Dark-Blue);
}

/**** Nav ****/
#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  padding: 0 1rem;
  outline: 2px solid black;
  position: relative;
  background-color: var(--White);
}
/* nav links */
.nav__links {
  position: absolute;
  list-style: none;
  text-align: center;
  background-color: var(--White);
  width: 90%;
  top: 100%;
  left: 50%;
  translate: -50%;
  margin-top: 1.5rem;
  padding: 1rem 0;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
}
.nav__links--active {
  opacity: 1;
  pointer-events: all;
}
.nav__link {
  margin: 1rem;
  font-size: 1.125rem;
}
/* nav menu icon */
.nav__menuicon {
  cursor: pointer;
}
.nav__menuicon--hidden {
  display: none;
}
.nav__desktop__button {
  display: none;
}

@media screen and (min-width: 1024px) {
  #nav {
    padding: 0 4rem;
  }
  .nav__links {
    position: static;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    translate: 0%;
    opacity: 1;
    pointer-events: all;
    margin-top: 0;
    padding: 0;
    border-radius: 0;
    height: 10vh;
  }
  .nav__link {
    color: var(--Grayish-Blue);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .nav__link:hover {
    cursor: pointer;
    color: var(--Dark-Blue);
  }
  .nav__link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 100%;
    background: var(--Blue-to-Green);
    opacity: 0;
  }
  .nav__link:hover::after {
    opacity: 1;
  }
  .nav__menuicon {
    display: none;
  }
  .nav__desktop__button {
    display: inline-block;
    padding: 1rem 2rem;
    border: none;
    border-radius: 50px;
    background: var(--Blue-to-Green);
    font-family: inherit;
    color: var(--White);
    font-weight: 700;
  }
  .nav__desktop__button:hover {
    cursor: pointer;
    background: var(--Green-to-Blue);
  }
}
@media screen and (min-width: 1280px) {
  #nav {
    padding: 0 10rem;
  }
}
