@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Primary */
  --Dark-Blue: hsl(233, 26%, 24%);
  --Lime-Green: hsl(136, 65%, 51%);
  --Bright-Cyan: hsl(192, 70%, 51%);

  /* Neutral */
  --Grayish-Blue: hsl(233, 8%, 62%);
  --Light-Grayish-Blue: hsl(220, 16%, 96%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
  /* Gradients */
  --Blue-to-Green: linear-gradient(
    to left,
    var(--Lime-Green),
    var(--Bright-Cyan)
  );
  --Green-to-Blue: linear-gradient(
    to left,
    var(--Bright-Cyan),
    var(--Lime-Green)
  );
  --section-title: 2rem;
}

body {
  font-family: "Public Sans", sans-serif;
  overflow-x: hidden;
}

/**** Buttons ****/
/* primary */
.primary__btn {
  display: inline-block;
  padding: 1rem 2rem;
  border: none;
  border-radius: 50px;
  background: var(--Blue-to-Green);
  font-family: inherit;
  color: var(--White);
  font-weight: 700;
}
.primary__btn:hover {
  cursor: pointer;
  background: var(--Green-to-Blue);
}

/**** Nav ****/
#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  padding: 0 1rem;
  position: relative;
  background-color: var(--White);
  z-index: 2;
}
/* nav links */
.nav__links {
  position: absolute;
  list-style: none;
  text-align: center;
  background-color: var(--White);
  width: 90%;
  top: 100%;
  left: 50%;
  translate: -50%;
  margin-top: 1.5rem;
  padding: 1rem 0;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
}
.nav__links--active {
  opacity: 1;
  pointer-events: all;
}
.nav__link {
  margin: 1rem;
  font-size: 1.125rem;
}
/* nav menu icon */
.nav__menuicon {
  cursor: pointer;
}
.nav__menuicon--hidden {
  display: none;
}
.primary__btn-nav {
  display: none;
}

@media screen and (min-width: 1024px) {
  #nav {
    padding: 0 4rem;
  }
  .nav__links {
    position: static;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    translate: 0%;
    opacity: 1;
    pointer-events: all;
    margin-top: 0;
    padding: 0;
    border-radius: 0;
    height: 10vh;
  }
  .nav__link {
    color: var(--Grayish-Blue);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .nav__link:hover {
    cursor: pointer;
    color: var(--Dark-Blue);
  }
  .nav__link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 100%;
    background: var(--Blue-to-Green);
    opacity: 0;
  }
  .nav__link:hover::after {
    opacity: 1;
  }
  .nav__menuicon {
    display: none;
  }
  .primary__btn-nav {
    display: inline-block;
  }
}
/* media queries */
@media screen and (min-width: 1280px) {
  #nav {
    padding: 0 10rem;
  }
}

/**** Hero ****/
.hero {
  display: flex;
  flex-direction: column;
}
.hero__images__container {
  background-image: url("assets/bg-intro-mobile.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -50px;
  position: relative;
  min-height: 45vh;
}
.hero__image-mockup {
  width: 100%;
  position: absolute;
  top: -8rem;
}
.hero__text__container {
  text-align: center;
  margin-top: 1.5rem;
}
.hero__text__h1 {
  color: var(--Dark-Blue);
  font-weight: 400;
  font-size: 2.3rem;
}
.hero__text__p {
  color: var(--Grayish-Blue);
  line-height: 1.5;
  margin: 1.5rem 0;
  padding: 0 0.5rem;
}
/* media queries */
@media screen and (min-width: 500px) {
  .hero__image-mockup {
    width: 440px;
    left: 50%;
    transform: translateX(-50%);
  }
  .hero__text__container {
    width: 500px;
    align-self: center;
  }
}
@media screen and (min-width: 1024px) {
  .hero {
    flex-direction: row-reverse;
  }
  .hero__images__container {
    background-image: url("assets/bg-intro-desktop.svg");
    background-size: cover;
    background-position-y: -150px;
    min-height: auto;
    flex: 1;
  }
  .hero__image-mockup {
    width: 100%;
    position: relative;
    top: -5rem;
    margin-left: 6.5rem;
  }
  .hero__text__container {
    text-align: left;
    margin-top: 0;
    flex: 1;
    top: -7rem;
    position: relative;
    padding-left: 4rem;
    width: auto;
  }
  .hero__text__h1,
  .hero__text__p {
    padding: 0;
  }
  .hero__text__h1 {
    font-size: 3rem;
  }
  .hero__text__p {
    padding-right: 5rem;
  }
}

@media screen and (min-width: 1280px) {
  .hero__images__container {
    background-position-y: -200px;
  }
  .hero__image-mockup {
    top: -6rem;
  }
  .hero__text__container {
    padding-left: 10rem;
  }
}
@media screen and (min-width: 1440px) {
  .hero__text__p {
    width: 400px;
    padding-right: 0;
  }
}
@media screen and (min-width: 1536px) {
  .hero__image-mockup {
    top: -10rem;
  }
  .hero__text__h1 {
    font-size: 5rem;
  }
  .hero__text__p {
    width: 500px;
    padding-right: 0rem;
  }
}

/**** Why Choose Us ****/
#whychooseus {
  min-height: 100vh;
  background-color: var(--Light-Grayish-Blue);
}
.whychooseus__maintext {
  text-align: center;
  padding-top: 5rem;
  margin-top: 5rem;
}
.whychooseus__maintext__h1 {
  font-weight: 400;
  padding: 0 4rem;
  font-size: var(--section-title);
  color: var(--Dark-Blue);
}
.whychooseus__maintext__p {
  color: var(--Grayish-Blue);
  margin-top: 1rem;
}
.whychooseus__cards {
  padding: 2rem 0 5rem 0;
  padding: 0 0.5rem;
}
.whychooseus__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 2rem 0;
}
.whychooseus__card__title {
  font-weight: 400;
  margin: 1.5rem 0;
  font-size: 1.3rem;
}
.whychooseus__card__details {
  color: var(--Grayish-Blue);
}
